
table {
  width: 102%;
     margin-left: -9px;
    margin-top: 17px 
  }
 
  .mat-form-field {
    font-size: 14px;
    width: 30%;
    float: right;
    margin-top: -61px;
    padding-top: 50px; 
     }
  .example-card{
    width: 800px ;
  
     margin-top: 96px; 
    margin-left: 358px;
    
  

}
body#LoginForm{ background-image:url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c22.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:163px;
}