
.example-card{
    width: 351px;
    margin-top: 9px;
    margin-left: 353px;
    height: 289px;
   
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.mat-card-title{
    margin-left: 129px;
    font-family: cursive;
    margin-bottom: 16px;

}
.registerHere{
    font-family: cursive;
    font-size: 14px;
    margin-left: 60px;
}

.matbtn{
    margin-left: 148px;
   

}
body#LoginForm{ background-image:url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c22.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:163px;


}
  
