.example-card{
    width: 362px;
    margin-top: -75px;
    margin-left: 367px;
    height: 606px;
  
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
.mat-card-title{
    margin-left: 129px;
    font-family: cursive;
    margin-bottom: 16px;

}
.registerHere{
    font-family: cursive;
    font-size: 14px;
    margin-left: 250px;
}

.matbtn{
    margin-left: 148px;
}

body#signupForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:133px;} 


